<div class="widget category">
	<h3 class="title">Link</h3>
	<ul class="entry">
		<% for (var i in theme.blogroll){ %>
        	<li><a href="<%- theme.blogroll[i] %>"><%= i %></a></li>
      	<% } %>
	</ul>
</div>