<div class="widget category">
	<h3 class="title">Link</h3>
	<ul class="entry">
		<li><a href="http://wuchong.me/" title="Jark Blog">Jark's Blog</a></li>
		<li><a href="http://myincubator.sinaapp.com/" title="Willzhang's Blog">Willzhang's Blog</a></li>
	</ul>
</div>