// Color
color-background = #eee
color-font = #BEBEBE
color-meta = #999
color-border = #ddd
color-link = #009CDC
color-quote = #28FF28

// Font
// Linux默认字体 Windows 7.8.8.1默认字体 'Microsoft Yahei' Mac默认字体 "Heiti SC","Hiragino Sans GB"
font-default = "Helvetica Neue",Roboto,'Open Sans',Tahoma,Arial,"Droid Sans","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif

//code style
font-mono = Monaco, Menlo, Consolas, Courier New,'Microsoft Yahei'

font-title = 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif

font-header = 'Play',"Hiragino Sans GB",cursive,"Helvetica Neue","Droid Sans Fallback","Heiti SC",Simsun,sans-serif

font-icon = FontAwesome

// Width
page-width = 1200px